*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info


# CDK asset staging directory
.cdk.staging
cdk.out
/Users/charu/todo_using_linkedList/.venv

__pycache__/
*.py[cod]
*$py.class

.pre-commit-config.yaml